 /*СТИЛИ И РАЗМЕРЫ ШРИФТОВ*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  min-width: 900px;
  background: url("../img/background-1200.jpg") no-repeat top center;


  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", "sans-serif";
  color: #ffffff;
}
.clearfix:after {
  content: "";

  display: table;
  clear: both;

}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;

  border: solid yellow;
}
.main-header {
  margin-bottom: 10px;
}
.main-navigation {
  float: left;
  width: 560px;
  min-height: 70px;
  margin-left: -6px;


  border: solid red;
}
.main-navigation ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  vertical-align: 27px;

  list-style: none;
}
.main-navigation li {
  display: inline-block;
  margin-right: 25px;
}
.main-navigation li:last-child {
  margin-right: 0;
}
.main-navigation a {
  padding: 0;

  color: #ffffff;
  text-decoration: underline; /*ЗАДАТЬ ПОДЧЕРКИВАНИЯ*/
}
.main-navigation a:hover {    /*ЗАДАТЬ ПОВЕДЕНИЕ ПОСЛЕ НАВЕДЕНИЯ*/

}
.user-block {
  float: right;
  max-width: 560px;

  border: solid greenyellow;
}
.user-block-item {
  display: inline-block;
}
.search input {            /*СКРЫТЫЙ ИНПУТ*/
  display: none;
}







.good-price {
  /*разные размеры цены и кг*/
}
.good-description, .feature-info, .blog-post-label, .subscribe-text {
  font-size: 16px;
  line-height: 22px;
}
.general-description-title, .blog-post-title {
  font-size: 24px;
  line-height: 30px;
}
/*!!! Задать Размеры placeholder !!!*/
.address-text {
  font-size: 14px;
  line-height: 20px;
}
.address-text-highlight {
  font-size: 18px;
  line-height: 24px;
}
.main-footer {
  font-size: 13px;
  line-height: 18px;
}
   /*ЦВЕТА*/
body, a {
  color: #ffffff;
}
.general-description, .blog-post, .blog-post-title, .address {
  color: #323232;
}
.subscribe {
  color: #5a5a5a;
}
a {
   text-decoration: none;
 }
