 /*СТИЛИ И РАЗМЕРЫ ШРИФТОВ*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  min-width: 900px;
  background: #849d8f /*url("../img/background-1200.jpg") no-repeat top center*/;


  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", "sans-serif";
  color: #ffffff;
}
.clearfix:after {
  content: "";

  display: table;
  clear: both;

}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}
.main-header {
  margin-bottom: 10px;
}
.logo {
  display: inline-block;
}
.main-navigation {
  display: inline-block;
  width: 560px;
  margin-left: -6px;
  padding: 10px 0;
}
.main-navigation ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  vertical-align: top;

  list-style: none;
}
.main-navigation li {
  display: inline-block;
  margin-right: 25px;
}
.main-navigation li:last-child {
  margin-right: 0;
}
.logo {
  width: 156px;
  height: 65px;
  background: url("../img/logo-menu.png");
  color: #ffffff;
}
.main-navigation a {
  padding: 0;

  color: #ffffff;
  text-decoration: underline; /*ЗАДАТЬ ПОДЧЕРКИВАНИЯ*/
}
.main-navigation a:hover {    /*ЗАДАТЬ ПОВЕДЕНИЕ ПОСЛЕ НАВЕДЕНИЯ*/

}
.user-block {
  margin: 20px auto;
  padding: 10px;
  vertical-align: top;

  float: right;
  max-width: 560px;

  height: 40px;     /*ЗАДАТЬ ПРАВИЛЬНУЮ ВЫСОТУ*/

  border: solid greenyellow;
}
.user-block a {
}

 /*СПРАЙТ*/


.search {               /*ПОИСК*/
  display: inline-block;

}

.login {                /*ВХОД*/
  display: inline-block;

}

.cart {                /*КОРЗИНА*/
  display: inline-block;

}





.header-contact {
  float: right;
}
.slider {                 /* !!!СЛАЙДЕР!!! */
  text-align: center;
}
.options {
  font-size: 0;
}
.option {
  display: inline-block;
  padding: 20px 25px;
  width: 560px;
  height: 230px;
}
.option h2 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
}
.option p {
  font-size: 18px;
}
.raspberry {
  background: url("../img/raspberry.jpg") no-repeat;
  margin-right: 26px;
}
.chocolate {
  background: url("../img/chocolate.jpg") no-repeat;
}
.button {        /*КНОПКИ*/
  float: right;
  font-size: 18px;
  line-height: 24px;
}
.wrapper {
  font-size: 0;
}
.catalog-item {
  display: inline-block;
  width: 267px;
  height: 400px;
  margin-right: 26px;
  font-size: 16px;
  line-height: 22px;
}
.catalog-item:last-child {
  margin-right: 0;
}
.good-price, .catalog-price {
  font-size: 45px;
  line-height: 45px;
}
.good-price span, .catalog-price span {
  font-size: 30px;
}
.general-description {
  font-size: 0;
  color: #323232;
  padding: 30px 20px;

  background: url("../img/waffle.jpg");
}
.general-description h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}
.feature {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  max-width: 540px;
}
.feature-technology {            /* !!!ВСТАВИТЬ СПРАЙТ!!! */

}
.feature-raw {

}
.feature-providers {

}
.feature-delivery {

}
.blog-subscribe {
  font-size: 0;
}
.news {
  display: inline-block;
  width: 560px;
  height: 220px;
  padding: 20px 25px;
}
.blog-post {
  margin-right: 26px;
  color: #323232;
  vertical-align: top;
  background: #f8f7f4 url("../img/background-ice-strawberries.jpg") no-repeat;
}
.blog-post-label {
  font-size: 16px;
  line-height: 22px;
}
.blog-post-title {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}
.subscribe {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  background: #f8f7f4;
}
.map {
  min-height: 430px;
  background: url("../img/map.png") no-repeat center;
}
.address {
  position: absolute;
  right: 10%;
  background: #ffffff;
  color: #323232;

  width: 300px;
  height: 305px;
  padding: 30px 25px;
}
.main-footer {
  min-height: 100px;
  background: #849d8f;
}
.footer-item {

}
.footer-social {
  float: left;
}
.footer-menu {
  margin: auto;
}
.footer-copyright {
  float: right;
}


/*РАЗМЕТКА СТРАНИЦЫ КАТАЛОГА*/
.breadcrumbs li {
  display: inline-block;
}

   /*ЦВЕТА*/
a {
  text-decoration: none;
  color: #ffffff;

}
